{
    "openapi":"3.0.2",
    "info": {
        "title":"Wikibase REST API Proposal",
        "version":"1.0",
        "description": "<p>This is a proposal for the structure of the future Wikibase REST API.</p><h2>Authentication</h2><p>Authentication is optional for all paths but individual resources may require it (e.g. particular items).</p>"
    },
    "servers": [
        { "url":"https://not-yet-implemented.wikidata.org/w/rest.php/wikibase/v0" }
    ],
    "components": {
        "parameters": {
            "$ref": "./global/parameters.json"
        },
        "responses": {
            "$ref": "./global/responses.json"
        },
        "schemas": {
            "$ref": "./global/schemas.json"
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "items",
            "description": "Wikibase Items",
            "externalDocs": {
                "description": "Wikibase Data Model - Items",
                "url" : "https://www.mediawiki.org/wiki/Wikibase/DataModel#Items"
            }
        },
        {
            "name": "sitelinks",
            "description": "Wikibase Item Sitelinks",
            "externalDocs": {
                "description": "Wikibase Data Model - Sitelinks",
                "url" : "https://www.mediawiki.org/wiki/Wikibase/DataModel/JSON#Site_Links"
            }
        },
        {
            "name": "properties",
            "description": "Wikibase Properties",
            "externalDocs": {
                "description": "Wikibase Data Model - Properties",
                "url" : "https://www.mediawiki.org/wiki/Wikibase/DataModel#Properties"
            }
        },
        {
            "name": "labels",
            "description": "Wikibase Entity Labels",
            "externalDocs": {
                "description": "Wikibase Data Model - Terms",
                "url" : "https://www.mediawiki.org/wiki/Wikibase/DataModel#EntityDescriptions_of_Items_and_Properties"
            }
        },
        {
            "name": "descriptions",
            "description": "Wikibase Entity Descriptions",
            "externalDocs": {
                "description": "Wikibase Data Model - Terms",
                "url" : "https://www.mediawiki.org/wiki/Wikibase/DataModel#EntityDescriptions_of_Items_and_Properties"
            }
        },
        {
            "name": "aliases",
            "description": "Wikibase Entity Aliases",
            "externalDocs": {
                "description": "Wikibase Data Model - Terms",
                "url" : "https://www.mediawiki.org/wiki/Wikibase/DataModel#EntityDescriptions_of_Items_and_Properties"
            }
        },
        {
            "name": "statements",
            "description": "Wikibase Statements",
            "externalDocs": {
                "description": "Wikibase Data Model - Statements",
                "url" : "https://www.mediawiki.org/wiki/Wikibase/DataModel#Statements"
            }
        },
        {
            "name": "qualifiers",
            "description": "Wikibase Statement Qualifiers",
            "externalDocs": {
                "description": "Wikibase Data Model - Snaks",
                "url" : "https://www.mediawiki.org/wiki/Wikibase/DataModel#Snaks"
            }
        },
        {
            "name": "references",
            "description": "Wikibase Statement References",
            "externalDocs": {
                "description": "Wikidata Data Model - Reference Records",
                "url" : "https://www.mediawiki.org/wiki/Wikibase/DataModel#ReferenceRecords"
            }
        }
    ],
    "paths": {
        "$ref": "./resources/index.json"
    },
    "security": [
        {},
        { "bearerAuth": [] }
    ]
}