{
    "openapi":"3.0.2",
    "info": {
        "title":"Wikibase REST API Proposal",
        "version":"1.0",
        "description": "<p>This is a proposal for the structure of the future Wikibase REST API.</p><h2>Authentication</h2><p>Authentication is optional for all paths but individual resources may require it (e.g. particular items).</p>",
    },
    "servers": [
        { "url":"https://www.wikidata.org/w/rest.php/wikibase/v0" }
    ],
    "components": {
        "parameters": {
            "$ref": "./global/parameters.json"
        },
        "responses": {
            "$ref": "./global/responses.json"
        },
        "schemas": {
            "$ref": "./global/schemas.json"
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "items",
            "description": "Wikibase Items",
            "externalDocs": {
                "description": "Wikibase Datamodel - Items",
                "url" : "https://www.mediawiki.org/wiki/Wikibase/DataModel#Items"
            }
        },
        {
            "name": "properties",
            "description": "Wikibase Properties",
            "externalDocs": {
                "description": "Wikibase Datamodel - Properties",
                "url" : "https://www.mediawiki.org/wiki/Wikibase/DataModel#Properties"
            }
        },
        {
            "name": "entities",
            "description": "Wikibase Entities",
            "externalDocs": {
                "description": "Wikibase Data Model - Values",
                "url" : "https://www.mediawiki.org/wiki/Wikibase/DataModel#Values"
            }
        },
        {
            "name": "statements",
            "description": "Wikibase Statements",
            "externalDocs": {
                "description": "Wikibase Data Model - Statements",
                "url" : "https://www.mediawiki.org/wiki/Wikibase/DataModel#Statements"
            }
        }
    ],
    "paths": {
        "$ref": "./resources/index.json"
    },
    "security": [
        {},
        { "bearerAuth": [] }
    ]
}